.navbar-dark {
    background-color: lightgrey; }

    body {
        padding-top: 80px;
      }
      @media (max-width: 979px) {
        body {
          padding-top: 100px;
        }
      }

      .navbar-nav > li{
        padding-left:10px;
        padding-right:10px;
      }

      @media (min-width: 100px) {
        .navbar-collapse{
        background-color:white;
        }  
      }
      @media (min-width: 768px) {
        .navbar-collapse{
        background-color: unset;
        }  
      }

     #cardcontainer {
        padding-top: 30px;
      }

      #leftlistitem1 {
        border-right: 2px solid #000;
      }


      #itemcontainerblue {
        background-color: lightblue;
        }

      #circleimage {
            border-radius: 50%;
          }

      #containertextright {
        margin: 0px auto;
          }

          .row-content {
            margin: 0px auto;
            padding: 30px 0px;
            border-bottom: 1px ridge;
            min-height: 300px; }
              #circleimage {
            border-radius: 50%;
          }

          #secondarynavbar {
            padding-top: 30px;
          }

          #secondarynavbar2 {
            padding-top: 15px;
            padding-bottom: 10px
          }

          #lowheading {
            padding-bottom: 80px
          }

          #centercard {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
            margin-top: 10px; /* Added */
    }

        #smallfont {
          font-size: 10px;
    }

